{{#>src/hbs/page}}

{{#*inline "head-block"}}
<meta name="description" content="Table is the most common way to present tabular data and which users are most familiar with. The tables are responsive and displayed as cards." />
<title>Admin 4B · Table</title>
{{/inline}}

{{#*inline "body-block"}}
<div class="app">
  {{{ include 'src/hbs/includes/sidebar.html' }}}
  <div class="app-content">
    <div class="content-header">
      {{{ include 'src/hbs/includes/navbar.html' }}}
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Layout</li>
          <li class="breadcrumb-item">Table</li>
        </ol>
      </nav>
    </div>
    <div class="content-body">
      <div class="container">
        <h1>
          Table
        </h1>
        <p>
          Table is the most common way to present tabular data and which users are most familiar with.
          The tables are responsive and displayed as cards. See a basic example below:
        </p>
        <div class="card">
          <div class="card-header">
            Purchases
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>
                    <div class="d-flex">
                      <label class="checkbox mr-2">
                        <input type="checkbox"/>
                        <span class="check-mark"></span>
                      </label>
                      Order
                    </div>
                  </th>
                  <th>Buyer</th>
                  <th>Payment</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex">
                      <label class="checkbox mr-2">
                        <input type="checkbox"/>
                        <span class="check-mark"></span>
                      </label>
                      2194
                    </div>
                  </td>
                  <td>Carla Leach</td>
                  <td>
                    <span class="badge badge-primary">paypal</span>
                  </td>
                  <td>$59.85</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex">
                      <label class="checkbox mr-2">
                        <input type="checkbox"/>
                        <span class="check-mark"></span>
                      </label>
                      2442
                    </div>
                  </td>
                  <td>Kameron Burks</td>
                  <td>
                    <span class="badge badge-info">credit card</span>
                  </td>
                  <td>$32.50</td>
                </tr>
                <tr>
                <td>
                  <div class="d-flex">
                      <label class="checkbox mr-2">
                        <input type="checkbox"/>
                        <span class="check-mark"></span>
                      </label>
                      4640
                    </div>
                  </td>
                  <td>Jake Reese</td>
                  <td>
                    <span class="badge badge-primary">paypal</span>
                  </td>
                  <td>$105.60</td>
                </tr>
                <tr>
                <td>
                  <div class="d-flex">
                      <label class="checkbox mr-2">
                        <input type="checkbox"/>
                        <span class="check-mark"></span>
                      </label>
                      9390
                    </div>
                  </td>
                  <td>Bryce Sellers</td>
                  <td>
                    <span class="badge badge-success">cash</span>
                  </td>
                  <td>$12.25</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <ul class="pagination justify-content-center"></ul>
          </div>
        </div>
        <p class="callout callout-warning">
          For the table to work properly follow this hierarchy <code>.card > .table-responsive > table</code>.
        </p>
        <div class="source-code">
          <a href="#table" data-toggle="collapse">
            <i class="fa fa-code"></i> Source code
          </a>
          <div id="table" class="collapse">
            <pre><code class="html">{{ include 'src/hbs/includes/code-examples/layout/table/table.html' }}</code></pre>
          </div>
        </div>
        <h2>
          Paging
        </h2>
        <p>
          The theme has a simple pagination plugin with links to first, last, previous and next pages.
        </p>
        <p>
          To update the page links you need to call the function <code>pagination()</code> passing the options as parameter.
          The following table shows the option parameters.
        </p>
        <div class="card">
          <div class="card-header">
            Options
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Option</th>
                  <th>Type</th>
                  <th>Default</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>current</code></td>
                  <td>number</td>
                  <td>1</td>
                  <td>Selected page.</td>
                </tr>
                <tr>
                  <td><code>count</code></td>
                  <td>number</td>
                  <td>1</td>
                  <td>Number of records in the database.</td>
                </tr>
                <tr>
                  <td><code>length</code></td>
                  <td>number</td>
                  <td>10</td>
                  <td>Number of records per page.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="callout callout-warning">
          <p>
            The pagination plugin assumes that the element is an <code>ul</code>.
          </p>
        </div>
        <div class="source-code">
          <a href="#pagination-update" data-toggle="collapse">
            <i class="fa fa-code"></i> Source code
          </a>
          <div id="pagination-update" class="collapse">
            <pre><code class="js">{{ include 'src/hbs/includes/code-examples/layout/table/pagination-update.js' }}</code></pre>
          </div>
        </div>
        <h3>Events</h3>
        <p>
          To watch the page change after the user interact with the pagination listen to the event
          <code>page:change</code>.
        </p>
        <div class="source-code">
          <a href="#pagination-change" data-toggle="collapse">
            <i class="fa fa-code"></i> Source code
          </a>
          <div id="pagination-change" class="collapse">
            <pre><code class="js">{{ include 'src/hbs/includes/code-examples/layout/table/pagination-change.js' }}</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/inline}}

{{/src/hbs/page}}
